body {
    font-family: sans-serif;
}
.lol{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
}
footer {
    background-color: rgb(0, 132, 209);
}
header {
    background-color: rgb(0, 132, 209);
}
